[mysqld]

#skip_innodb_doublewrite
#innodb_additional_mem_pool_size = 16M

table_open_cache = 800
tmp_table_size = 32M
max_heap_table_size = 32M
max_connections = 500
max_connect_errors = 10
key_buffer_size = 64M

myisam_sort_buffer_size = 128M
max_allowed_packet      = 64M
binlog_cache_size = 64M
join_buffer_size = 1M
read_buffer_size = 1M
read_rnd_buffer_size = 1M

query_cache_limit       = 4M
query_cache_size        = 32M


innodb_buffer_pool_size =512M
innodb_flush_log_at_trx_commit=2
innodb_log_file_size = 10240M
innodb_file_per_table = 1

#innodb_buffer_pool_instances = 2
#innodb_thread_concurrency = 8
#innodb_write_io_threads = 32
#innodb_read_io_threads = 32
innodb_io_capacity = 1000

### add 2020 ###
skip-name-resolve
skip-external-locking

sort_buffer_size = 1M
innodb_flush_method=O_DIRECT
innodb_numa_interleave=ON

# Reference
# https://downloads.mysql.com/presentations/20151208_02_MySQL_Tuning_for_Beginners.pdf
